body {
    display: block;
    margin: 0px;
    background-color: #000;
}

header {
    padding: 10px;
}

header .button {
    float: right;
}

#map {
    width: auto;
    height: 400px;
}

#view {
    color: #fff;
    font-family: "Arial Rounded MT Bold";
    font-size: 0.9em;
}
