<header class="clearfix">
    <%= image_tag('main/skatenearme-logo-334x53.png', :alt => 'SkateNearMe logo', :size => '197x31') %>
    <div class="button">
        <%= link_to('Login', '#') %>
    </div>
</header>
