<header class="clearfix">
    <%= image_tag('main/skatenearme-logo3-196x67.png', :alt => 'SkateNearMe logo', :size => '90x31') %>
    <div class="button">
        <%= link_to('Login', '#') %>
    </div>
</header>
